*{
	font-family: 'Overpass', sans-serif;
	padding: 0px;
	margin:0px;
	}
body{

	background: url("londonwallpaper.jpg")top right no-repeat;
	background-attachment:fixed;
	background-size: cover;
}
	
.navbar{
	height: 100vh;
	width:100%;
}
.nav-bar{
	position:fixed;
	margin-top: 25px;
	justify-content: center;
	height: 70px;
	width: 100%;
	display:inline-block;
 	text-align:center;
 	border-bottom:5px solid;
 	border-color: black;
}
.nav-button{
	margin:10px;
	padding:15px;
	font-size: 30px;
	text-decoration: none;
	color: white;
	background-color: black !important;
}
.nav-button:hover {
	background-color:white !important;
 	color:black;
 	
	transition-duration: 0.9s;
}
.button{
	line-height: 50px;
	color: white;
	background-color: black;
	border-radius: 10px;
	height: 50px ;
	width: 50px;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	border: 5px solid transparent;
	display: inline-block;
}
.button:hover{
	background-color: white;
	border-color:black;
	border: 5px solid;
	color:black;
	transition-duration: 0.9s;
}

header{
	flex-direction: column;
	display: flex;
    align-items: center;
    justify-content: center;
	height: 100vh;
	width: 100%;
	text-align: center;
	background-color:rgba(215, 174, 69, 0.61);
}
.about{
	background-color: rgba(0, 18, 30, 0.66);
	width: 100%;
	height:100vh;
}