@import '_var.scss';
#home{
	width: 100%;
	height: 100vh;
	background-image: url(img/cotton-candy.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: space-around;
	#presentation{
		width: 90%;
		height: 50%;
		//margin: auto;
    margin-top: 7%;
		display: flex; 
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		.avatar{
			width: 200px;
			height: 200px;
			object-fit: cover;
			border-radius: 50%;
			box-shadow: 0px 0px 52px -10px #000000;
		}
		h1{
			font-family: $merriweather;
			font-size: 26px;
			letter-spacing: 2px;
			color: $violet;
			font-weight: bold;
			text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
			text-align: center;
		}
		h4{
			font-size: 24px;
			letter-spacing: 1px;
			font-weight: 600;
			font-family: $lora;
			color: $blue;
			text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
			text-align: center;
		}
	}
	.button-scroll{
		cursor: pointer;
		text-align: center;
		animation: bouncing 500ms infinite alternate ease-in;
		img{
			width: 50px;
			height: 50px;
		}
	}
	.contact-bubbles{
		position: fixed;
    display: flex;
    bottom: 20px;
    right: 20px;
    width: 130px;
    justify-content: space-around;
		a{
			color: $greyviolet ;
			transition: 0.5s ease-in-out;
			&:hover{
				color: $millenialpink;
			}
		}
	}
}