@import '_var.scss';
#contact{
	padding-top: 2em;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
		h2{
		color: $lightpink;
		font-size: 30px;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 20px;
		@media (max-width:1000px){
		font-size: 24px;
		}
	}
	p.subtitle{
		text-align: center;
    font-size: 20px;
    color: $bluegray;
    width: 80%;
    margin: 1em auto;
	}
	hr{
		width: 7%;
	}
	.contact-me{
		width: 90%;
		@media (max-width:1000px){
			height: 75%;
		}
		display: flex;
		align-items: center;
		margin: 2em auto;
		justify-content: space-around;
			@media (max-width:1000px){
				flex-direction: column;
			}
		li{
			display: flex;
			height: 110px;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			font-size: 22px;
			color: $bluegray;
		}
		a{
			transition: 0.5s ease-in-out;
			color: $bluegray;
			&:hover{
				color: $millenialpink;
			}
		}
	}
}