$greyviolet: #7A5C61;
$millenialpink: #F7B3D3;
$lightpink: #f7b6ff;
$bluegray: #E8F0FF;
$blue: #6874E8;
$turquoise: #e2f4f8;
$violet: #4e223c;
$merriweather: 'Merriweather', serif;
$lora: 'Lora', serif;
$dohy: 'Do Hyeon', sans-serif;

