$greyviolet: #7A5C61;
$millenialpink: #F7B3D3;
$lightpink: #f7b6ff;
$bluegray: #E8F0FF;
$blue: #48c2af;
$turquoise: #e2f4f8;
$violet: #4e223c;
$inter:"Inter", sans-serif;
$lora: 'Lora', serif;
$dohy: 'Do Hyeon', sans-serif;
$bg-body: #041B15;
$primary: #ffaaea;
$secondary:#90F1EF;
$teritary:#136F63;
$violetb:#634B66;

