/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

article {
  background-color: #041B15;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.sandy-btn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
}
.sandy-btn img {
  width: 20px;
  height: 20px;
}

.sandy {
  background: linear-gradient(270deg, #48bdff, #ff0571, #b745c3);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.sandy#home {
  background-size: 150% 100%;
}
.sandy .avatar {
  -webkit-animation: Animation2 3s ease infinite;
  -moz-animation: Animation2 3s ease infinite;
  animation: Animation2 3s ease infinite;
}
@-webkit-keyframes Animation2 {
  0% {
    filter: saturate(275%);
  }
  50% {
    filter: saturate(100%);
  }
  100% {
    filter: saturate(275%);
  }
}
@-moz-keyframes Animation2 {
  0% {
    filter: saturate(275%);
  }
  50% {
    filter: saturate(100%);
  }
  100% {
    filter: saturate(275%);
  }
}
@keyframes Animation2 {
  0% {
    filter: saturate(275%);
  }
  50% {
    filter: saturate(100%);
  }
  100% {
    filter: saturate(275%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slide-right-short {
  from {
    opacity: 0;
    transform: translateX(1em);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slide-left-short {
  from {
    opacity: 0;
    transform: translateX(-1em);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes pulse-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes bouncing {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(15%);
  }
}
#home {
  width: 100%;
  height: 100vh;
  background-image: url(../img/cotton-candy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#home #presentation {
  width: 90%;
  height: 50%;
  margin-top: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1000px) {
  #home #presentation {
    height: 62%;
  }
}
#home #presentation .avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 52px -10px #000000;
}
#home #presentation h1 {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  letter-spacing: 2px;
  color: #041B15;
  font-weight: bold;
  text-align: center;
}
#home #presentation h4 {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #136F63;
  text-align: center;
}
#home .button-scroll {
  cursor: pointer;
  text-align: center;
  animation: bouncing 500ms infinite alternate ease-in;
}
#home .button-scroll img {
  width: 50px;
  height: 50px;
}
#home .contact-bubbles {
  position: fixed;
  z-index: 9;
  display: flex;
  bottom: 20px;
  right: 20px;
  width: 130px;
  justify-content: space-around;
}
#home .contact-bubbles a {
  color: #634B66;
  transition: 0.5s ease-in-out;
}
#home .contact-bubbles a:hover {
  color: #136F63;
}

.with-header {
  background-color: #041B15;
}

nav {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a6000000", endColorstr="#00000000",GradientType=0 ); /* IE6-9 */
  width: 100%;
  height: 60px;
  position: sticky;
  z-index: 9;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Inter", sans-serif;
}
@media (max-width: 1000px) {
  nav {
    justify-content: space-around;
  }
}
nav a {
  color: #E8F0FF;
  margin: 0 40px;
  text-transform: capitalize;
  font-size: 21px;
  text-style: none;
  text-decoration: none;
  transition: 0.3s;
}
@media (max-width: 1000px) {
  nav a {
    margin: 0;
  }
}
nav a:hover {
  color: #E8F0FF;
}

#about {
  height: 100vh;
  width: 100%;
  padding-top: 2em;
  font-family: "Inter", sans-serif;
}
#about section {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 90%;
  margin: auto;
  flex-direction: column;
}
@media (max-width: 1000px) {
  #about section {
    height: 110%;
  }
}
#about section h2 {
  color: #ffaaea;
  font-size: 30px;
  margin-bottom: 2rem;
  text-align: left;
}
@media (max-width: 1000px) {
  #about section h2 {
    font-size: 24px;
  }
}
#about section p {
  color: #E8F0FF;
  text-align: left;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 1.5px;
}
@media (max-width: 1000px) {
  #about section p {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  #about section p {
    line-height: 20px;
  }
}
#about section h3 {
  color: #ffaaea;
  font-size: 24px;
}
#about section .items {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  #about section .items {
    height: 26%;
    width: 100%;
  }
}
#about section .items li {
  width: 20%;
  text-align: center;
}
#about section .items li i {
  color: #ffaaea;
}
#about section .items li .ux-icon {
  color: #ffaaea;
  font-family: "Do Hyeon", sans-serif;
  font-size: 48px;
}
#about section .items li p {
  color: #ffaaea;
}
@media (max-width: 1000px) {
  #about section .items li p {
    font-size: 12px;
  }
}

#portfolio {
  padding-top: 2em;
  overflow-x: hidden;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#portfolio p {
  font-size: 24px;
  text-align: center;
  color: #E8F0FF;
}
#portfolio .item-portfolio {
  width: 100%;
}
@media (max-width: 1000px) {
  #portfolio .item-portfolio {
    margin: 0;
  }
}
#portfolio h2 {
  font-family: "Inter", sans-serif;
  color: #f7b6ff;
  font-size: 30px;
  width: 90%;
  margin: 1rem auto 2rem;
}
@media (max-width: 1000px) {
  #portfolio h2 {
    font-size: 24px;
  }
}
#portfolio p {
  margin-bottom: 5px;
  color: #E8F0FF;
  text-align: center;
  font-size: 22px;
}
@media (max-width: 1000px) {
  #portfolio p {
    font-size: 16px;
  }
}
#portfolio .repo-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 9;
  text-align: center;
}
#portfolio .repo-link .btn {
  background: linear-gradient(263deg, #e668e2, #ea247f, #2caac5);
  color: white;
  width: 95px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 3px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
#portfolio .repo-link p,
#portfolio .repo-link a {
  font-size: 15px;
  text-decoration: none;
}
#portfolio .repo-link:hover .btn {
  -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.82);
  box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.82);
}
#portfolio .repo-link:hover p,
#portfolio .repo-link:hover a {
  color: white;
}
#portfolio .swiper-container {
  height: 75vh;
  margin: 0 auto;
  position: relative;
  font-family: "Inter", sans-serif;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  #portfolio .swiper-container {
    height: 26vh;
  }
}
#portfolio .swiper-container .swiper-slide {
  overflow: hidden;
}
#portfolio .swiper-container .swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  background: #d800ff;
}
#portfolio .swiper-container a {
  position: relative;
  text-decoration: none;
}
#portfolio .swiper-container img {
  height: 100%;
}

#contact {
  padding-top: 2em;
  height: 100vh;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin: auto;
}
#contact h2 {
  color: #f7b6ff;
  font-size: 30px;
  margin-bottom: 2rem;
  margin-top: 20px;
}
@media (max-width: 1000px) {
  #contact h2 {
    font-size: 24px;
  }
}
#contact p.subtitle {
  color: #E8F0FF;
  margin-bottom: 1em;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 1.5px;
}
#contact .contact-me {
  width: 90%;
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
@media (max-width: 1000px) {
  #contact .contact-me {
    height: 75%;
  }
}
@media (max-width: 1000px) {
  #contact .contact-me {
    flex-direction: column;
  }
}
#contact .contact-me li {
  display: flex;
  height: 110px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  color: #E8F0FF;
}
#contact .contact-me a {
  transition: 0.5s ease-in-out;
  color: #E8F0FF;
}
#contact .contact-me a:hover {
  color: #F7B3D3;
}

#ux-portfolio {
  width: 100%;
  padding-top: 2em;
  font-family: "Inter", sans-serif;
}
@media (max-width: 1000px) {
  #ux-portfolio {
    height: 183vh;
  }
}
#ux-portfolio h1 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: #f7b6ff;
  margin-bottom: 1em;
}
#ux-portfolio section {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 90%;
  margin: auto;
  flex-direction: column;
  height: 40vh;
  margin-bottom: 2em;
}
@media (max-width: 1000px) {
  #ux-portfolio section {
    margin-top: 1em;
  }
}
#ux-portfolio section h2 {
  font-size: 24px;
  color: #E8F0FF;
}
#ux-portfolio section p {
  color: white;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 30px;
}
@media (max-width: 1000px) {
  #ux-portfolio section p {
    line-height: 21px;
  }
}
#ux-portfolio section a {
  width: fit-content;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: block;
  padding: 5px;
  color: #E8F0FF;
  background-color: #634B66;
  border-radius: 5px;
  margin-top: 2rem;
}
#ux-portfolio section a:hover {
  background-color: #136F63;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-title {
  color: #ffaaea;
  font-size: 30px;
  margin-bottom: 2rem;
  margin-top: 20px;
}
@media (max-width: 1000px) {
  .section-title {
    font-size: 24px;
  }
}

#timeline {
  margin: auto;
  width: 90%;
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  font-family: "Poppins", sans-serif;
  /* line */
  /* columns*/
  /* row gaps */
  /* card */
  /* date */
  /* date flap */
  /* circle */
  /* title descr */
  /* shadows */
}
#timeline h1 {
  text-align: center;
}
#timeline ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
  margin-top: 5rem;
}
#timeline ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1/span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}
#timeline ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}
#timeline ul li {
  height: fit-content;
  background-color: #E8F0FF;
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}
#timeline ul li strong {
  font-weight: 600;
}
#timeline ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);
  text-align: center;
  background-color: var(--accent-color);
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  display: grid;
  place-content: center;
  position: relative;
  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}
#timeline ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}
#timeline ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}
#timeline ul li .title,
#timeline ul li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
#timeline ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
#timeline ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}
#timeline ul li .title::before,
#timeline ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
#timeline ul li .title::before {
  bottom: calc(100% + 0.125rem);
}
#timeline ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}
@media (min-width: 40rem) {
  #timeline {
    /* start second card */
  }
  #timeline ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  #timeline ul::before {
    grid-column: 2;
  }
  #timeline ul li:nth-child(odd) {
    grid-column: 1;
  }
  #timeline ul li:nth-child(even) {
    grid-column: 3;
  }
  #timeline ul li:nth-child(2) {
    grid-row: 2/4;
  }
  #timeline ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }
  #timeline ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  #timeline ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

/*# sourceMappingURL=style.css.map */
